body {
  font-family: sans-serif;
  padding: 20px;
  line-height: 1.6;
}

.main-image-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

img {
  border: 2px solid #333;
  max-width: 100%;
}

.Jalaleldin-img {
  display: block;
  margin: 20px auto;
}